{% extends "base.html" %}
{% load cms_tags %}

{% block title %}
    {% page_attribute "page_title" %}
{% endblock title %}

{% block content %}
    <h1>Posts /w tag: {{ tag.name }}</h1>
    {% for post in posts %}
        <article>
            <h3>{{ post.title }}</h3>
            <time>at {{ post.published_date }}</time>
            <div>
                {{ post.content|safe|truncatewords:32 }}
            </div>
            <div>
                <a href="{% url 'post_detail' post.slug %}">See details...</a>
            </div>
        </article>
        <hr>
    {% endfor %}
{% endblock content %}
