{% extends "base.html" %}
{% load cms_tags tags %}

{% block title %}
  {% page_attribute "page_title" %}
{% endblock title %}

{% block content %}
  <div class="col-lg-9">
  <article>
    <h1>{{ post.title }}</h1>
    <time class="pull-right">
      {{ post.author }} @ {{ post.published_date }}
    </time>

    <div class="post-text-align post-content">
      {{ post.content|safe|truncatewords:32 }}
    </div>

    <div class="post-text-align post-footer">

      {% tags post.get_related_tags %}

      <div class="pull-right">
        <a href="{% url 'post_detail' post.slug %}">See details...</a>
      </div>
    </div>
  </article>
  <hr>
  </div>


{% endblock content %}


{% block side_content %}
<h2>Tagi</h2>
  {% tags %}
  <hr/>

{% endblock %}